html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#container { width: 100%; height: 100% }
#nav { z-index: 100; position: absolute; 
       margin: 10px 0px 0px 200px; background-color: #fff; 
       border: 1px #000 Solid; padding: 5px; }
#map_canvas { width: 100%; height: 100% }

#sidebar {
    position: absolute;
    right: 10px;
    top: 55px;
    bottom: 100px;
    width: 234px;
    padding: 8px 16px 8px 4px;
    background-color: #FEFEFE;
    border: 1px solid #AAAAAA;
    /*border-right: none;*/
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -1px 2px 3px 1px #AAAAAA;
    border-radius: 3px 0 0 3px;
}