<!DOCTYPE html>
<html>
  <head>
    <link href="static/css/map.css" rel="stylesheet" media="screen">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <style>
      html, body, #map-canvas {
        width: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script>

    var map;
    var infoWindow;
    var shadeValue;
    //var currentValue = 0;

      function initialize() {
        var iterator = 0
        var map_options = {
          center: new google.maps.LatLng({{ lat }}, {{ lng }}),
          zoom: {{ z }},
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var flightpath;

        map = new google.maps.Map(document.getElementById('map_canvas'), map_options);

        var flightPlanCoordinates = [];
        var MegaDict = {{data}}

        var yelp = {{yelpData}}
        var yelpLength = yelp.length
        console.log(yelp)

        for (var location in yelp){
          var currentLatLong = new google.maps.LatLng(yelp[location][0],yelp[location][1]);
          var marker = new google.maps.Marker({
            position: currentLatLong,
            map: map,
            title: 'competitor'
          });
        }

        //TODO: REPLACE 3 WITH THE SIZE OF THE LISTOFVALUES
        for ( var key in MegaDict) {

          var value = MegaDict[key]
          var length = value.length
          coordinates = value[0]
          shadeValue = value[length-1]

          //map.currentValue = listofValues[j]

          for ( var i = 0, l = coordinates.length; i < l; i++) {
            flightPlanCoordinates.push( new google.maps.LatLng(coordinates[i][1], coordinates[i][0]))
          } 

          if (length == 4) {
          flightPath = new google.maps.Polygon({
            paths: flightPlanCoordinates,
            strokeColor: '#ffffff',
            strokeOpacity: 0,
            strokeWeight: 2,
            fillColor: '#ff0000',
            fillOpacity: shadeValue,
            blockID: key,
            blockValue: value[1],
            blockAcs: value[2],
            competitorNum: yelpLength
          }); }

          else { 
          flightPath = new google.maps.Polygon({
            paths: flightPlanCoordinates,
            strokeColor: '#ffffff',
            strokeOpacity: 0,
            strokeWeight: 2,
            fillColor: '#ff0000',
            fillOpacity: shadeValue,
            blockID: key,
            blockValue: value[1],
            competitorNum: yelpLength
          }); }

          flightPath.setMap(map);
          flightPlanCoordinates = [];

  
          google.maps.event.addListener(flightPath, 'mouseover', showArrays);
          google.maps.event.addListener(flightPath, 'mouseout', function (event) {
                    this.setOptions({
                        strokeColor: '#ffffff',
                        strokeOpacity: 0
                    });
                });

          infoWindow = new google.maps.InfoWindow();



        }

      /** @this {google.maps.Polygon} */
      function showArrays(event) {

        this.setOptions({
                        strokeColor: '#000000',
                        strokeOpacity: 1.0
                    });
        //console.log(event)

        // Since this polygon has only one path, we can call getPath()
        // to return the MVCArray of LatLngs.
        /*
        var vertices = this.getPath(); */
        // var contentString = "<b>Block Details</b><br>" ; 

        // contentString += '<br>' + "FIPS ID: "  + this.blockID + '<br>';

        // contentString += "Number of people in the requested demographic: "  + this.blockValue + '<br>';

        // if (length == 4) { 
        // contentString += "Number of people with requested ACS traits: " + this.blockAcs + '<br>';
        // }


        $("#blockID").text(this.blockID)
        $("#demoPop").text(this.blockValue)
        if (length == 4) { 
          $("#ACSvalue").text("Population with requested ACS traits: " + this.blockAcs + "")
        }else{
          $("#ACSvalue").text("")
        }
        if (yelpLength != 0){
          $("#competitorNum").text("Number of nearby competitiors: " + this.competitorNum + "")
        }

        // Replace the info window's content and position.
        //infoWindow.setContent(contentString);
        //infoWindow.setPosition(event.latLng);

        //infoWindow.open(map);
      }
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    // var bounds = map.getBounds();
    // var ne = bounds.getNorthEast(); // LatLng of the north-east corner
    // var sw = bounds.getSouthWest(); // LatLng of the south-west corder
    // var nw = new google.maps.LatLng(ne.lat(), sw.lng());
    // var se = new google.maps.LatLng(sw.lat(), ne.lng())

    // console.log("EDGES")
    // console.log(ne)
    // console.log(sw)
    </script>
  </head>

    
    <div id="map_canvas"></div>

    <div id="sidebars">
    
      <div id="uppersidebar">
        <h3 id="bartitle">Submit a Request:</h3>
      </div>
      <div id="lowersidebar">
        <h3 id="bartitle">Census Block</h3>


        <p>Block ID: <span id="blockID"> select a block </span></p>
        <p>Demographic population: <span id="demoPop"> select a block </span> </p>
        <span id="ACSvalue"> </span>
        <br> <br>
        <span id="competitorNum"> </span>
        
      </div>
    </div>


</html>