<!DOCTYPE html>
<html>
  <head>
    <link href="static/css/map.css" rel="stylesheet" media="screen">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>

    var map;
    var infoWindow;
    var shadeValue;
    //var currentValue = 0;

      function initialize() {

        var map_options = {
          center: new google.maps.LatLng({{ lat }}, {{ lng }}),
          zoom: {{ z }},
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var flightpath;

        map = new google.maps.Map(document.getElementById('map_canvas'), map_options);

        var coordinates = {{ coor }}
        var flightPlanCoordinates = [];
        var listofCoords = {{ data }}
        var listofValues = {{data2}}
        var listofFips = {{data1}}
      
        //TODO: REPLACE 3 WITH THE SIZE OF THE LISTOFVALUES
        for ( var j = 0, k = listofValues.length; j < k; j++) {

          console.log(listofFips[j])
          console.log(listofValues[j])
          console.log(listofCoords[j])
          coordinates = listofCoords[j]

          var largest = Math.max.apply(Math, listofValues);
          shadeValue = listofValues[j]
          if (shadeValue == 0){
            shadeValue = 0.1;
          }else{
            shadeValue = shadeValue / largest;
            if (shadeValue < 0.1){
              shadeValue = 0.1;
            }
          }
          //map.currentValue = listofValues[j]

          for ( var i = 0, l = coordinates.length; i < l; i++) {
            flightPlanCoordinates.push( new google.maps.LatLng(coordinates[i][1], coordinates[i][0]))
          } 

          flightPath = new google.maps.Polygon({
            paths: flightPlanCoordinates,
            strokeColor: '#ffffff',
            strokeOpacity: 1.0,
            strokeWeight: 2,
            fillColor: '#ff0000',
            fillOpacity: shadeValue,
          });

          flightPath.setMap(map);
          flightPlanCoordinates = [];

          var obj = {
            currentValue: listofValues[j]
          };
          flightPath.objInfo = obj;


          google.maps.event.addListener(flightPath, 'click', showArrays);

          infoWindow = new google.maps.InfoWindow();

        }

      /** @this {google.maps.Polygon} */
      function showArrays(event) {

        // Since this polygon has only one path, we can call getPath()
        // to return the MVCArray of LatLngs.
        var vertices = this.getPath();
        var coords = [];
         for (var i =0; i < vertices.getLength(); i++) {
          var xy = vertices.getAt(i);
          coords.push([xy.lng(), xy.lat()])
        }
        console.log(listofCoords)
        console.log(coords)
        var c = listofCoords.indexOf(coords)
        var val = listofValues[c]

        var contentString = '<b>Block Details</b><br>' ;


        contentString += '<br>' + "Number of people in the requested demographic: "  + String(val) + '<br>';

        contentString += '<br>' + "Number of people in the requested demographic: "  + String(flightPath.objInfo.currentValue) + '<br>';


        // Replace the info window's content and position.
        infoWindow.setContent(contentString);
        infoWindow.setPosition(event.latLng);

        infoWindow.open(map);
      }
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    
    <div id="map_canvas"></div>
    <div>
      <h1>Data processed!</h1>
    <p>The data is: {{ data1 }} </p>
  </div>

  </body>
</html>