<!DOCTYPE html>
<html>
  <head>
    <link href="static/css/map.css" rel="stylesheet" media="screen">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>


    <!-- Reveal popup dependencies -->
    <link href=" {{ url_for('static', filename='css/reveal.css') }}" rel="stylesheet" media="screen">
    <link href=" {{ url_for('static', filename='js/jquery.reveal.js') }}" rel="stylesheet" media="screen">
    <link href=" {{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href=" {{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='css/census.css') }}" rel="stylesheet" media="screen">

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
   <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false"></script>

    <style>
      html, body, #map-canvas {
        width: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script>


  

   

     
    </script>
    <script>

     var dataRace = ['race AfricanAmerican','race White', 'race Latino', 'race Asian', 'race Hawaiian', 'race Other','race NativeAmerican','race Multiracial'];
    var dataGender = ['gender Male', 'gender Female']
    var dataAge = ['age 0', 'age 20', 'age 30', 'age 40', 'age 50','age 60','age 70','age 80']


    function addToBasket(form) {
        var isRaceChecked = false;
        var isGenderChecked = false;
        var isAgeChecked = false;
        var isLocationSpecified = false;
        var allGood = false;

        var mystring = document.getElementsByName('city')[0].value; 
       

        if(mystring) {
          isLocationSpecified = true;
        }else{
          
          alert ('Please enter a location (ex: house address, intersection or town)');
        }

        

        for (var race in dataRace) { 
          var chks = document.getElementsByName(dataRace[race]);
          
          if ( chks[0].checked == true) {
            isRaceChecked = true;
          }
        }
        for (var gender in dataGender) { 
          var chks = document.getElementsByName(dataGender[gender]);
          if ( chks[0].checked == true) {
            isGenderChecked = true;
          }
        }
        for (var age in dataAge) { 
          var chks = document.getElementsByName(dataAge[age]);
          if ( chks[0].checked == true) {
            isAgeChecked = true;
          }
        }
        
        if ( isRaceChecked == false ) {
          alert("Please select a race. Then click submit.");
        }
        if ( isGenderChecked == false ) {
          alert("Please select a gender. Then click submit.");
        }
        if ( isAgeChecked == false ) {
          alert("Please select a age. Then click submit.");
        }

        if (isRaceChecked == true && isGenderChecked == true && isAgeChecked == true && isLocationSpecified == true){
         
          $('#myForm').toggle();
          $('#loading').show();
          allGood = true;
        }
        return allGood;
      }


      function hideTopBar(event){
        $('#topbar').toggle();
      }

      function dismissWelcome(event){
        $('#welcomeWindow').toggle();
      }

      
      
    

    var map;
    var infoWindow;
    var shadeValue;
    //var currentValue = 0;

    function lerp(start, end, percent) {
      return (start + percent*(end - start)); }

      function initialize() {
        var iterator = 0
        var map_options = {
          center: new google.maps.LatLng({{ lat }}, {{ lng }}),
          zoom: {{ z }},
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var flightpath;

        map = new google.maps.Map(document.getElementById('map_canvas'), map_options);

        var flightPlanCoordinates = [];
        var MegaDict = {{data}}

        var yelp = {{yelpData}}
        var yelpLength = yelp.length
        var iconSize = new google.maps.Size(10, 10)
        

        for (var location in yelp){
          var currentLatLong = new google.maps.LatLng(yelp[location][0],yelp[location][1]);
          var marker = new google.maps.Marker({
            position: currentLatLong,
            map: map,
            icon: new google.maps.MarkerImage( "{{ url_for('static', filename='images/warning-icon.png')}}" , undefined, undefined, undefined, new google.maps.Size(30, 30)),

            title: 'competitor'
          });
        }

        var density = Boolean({{density}});
        var values = [];
        var areavalues = [];
        var DensityCoordinates = [];

        //TODO: REPLACE 3 WITH THE SIZE OF THE LISTOFVALUES
       for (var key in MegaDict) { 
          var value = MegaDict[key]
          var coordinates = value[0] 
          var pop = value[1][0]
          var length = value.length

          if (density == true) {

          for ( var i = 0, l = coordinates.length; i < l; i++) {
            DensityCoordinates.push( new google.maps.LatLng(coordinates[i][1], coordinates[i][0]))
          } 

          DensityPath = new google.maps.Polygon({
            paths: DensityCoordinates });

          var area = google.maps.geometry.spherical.computeArea(DensityPath.getPath()) * Math.pow(10, -6);
          var popdens = (pop / area) 
          MegaDict[key][length-1] = [popdens, area]
          values.push(popdens)
          
        } 
          else {
          MegaDict[key][length-1] = [pop, area]
          values.push(pop)
        }
      }  

      var descdataRace = [' African American',' Caucasian', ' Latino', ' Asian', ' Hawaiian', ' Other',' Native American',' Multiracial'];
    var descdataGender = [' males', ' females']
    var descdataAge = ['0 to 19', '20 to 29', '30 to 39', '40 to 49', '50 to 59','60 to 69','70 to 79','80 and above']

    var description = "This heatmap shows the demographic population of ";


    var listofRace = {{listofRace}};
    var listofGenders = {{listofGenders}};
    var listofAges = {{listofAges}};

     raceLength = listofRace.length;
    for (var x in listofRace){
      var index = listofRace[x]
      index = index - 1
        var res = description.concat(descdataRace[index]);
        if (raceLength > 1 && x != (raceLength - 1 )){
          res = res.concat(" and")
        }
        description = res;
    }

    for (var x in listofGenders){
      var index = listofGenders[x]
      index = index - 1
        var res = description.concat(descdataGender[listofGenders[x]]);
        if (listofGenders.length == 2 && x == 0){
          res = res.concat(" and") 
        }
        description = res;
    }

    description = description.concat(" ages ")

    agesLength = listofAges.length;
    if (agesLength == 1){
      
      var res = description.concat(descdataAge[listofAges[0]]);
      description = res;

    } else{
      for (var x in listofAges){
        if (x == 0){
          
          var current = descdataAge[(listofAges[x]-1)]
         
          var last = current.charAt(current.length - 2);
        
          last = last.concat(current.charAt(current.length - 1));
          
          
          
        }
      if(x == (agesLength - 1)){
        var current = descdataAge[(listofAges[x]-1)]
         var temp = current.charAt(0);

          temp = temp.concat(current.charAt(1));
          temp = temp.concat(" to ");

          
          description = description.concat(temp);
        
      }
      
     }
     description = description.concat(last);
     description = description.concat(".");
    }
    //$("#heatDescription").text("BLAH");
    

    

    console.log(description);


        for ( var key in MegaDict) {

          var value = MegaDict[key]
          var length = value.length
          var largest = Math.max.apply(Math, values);
          var coordinates = value[0];
          if (density == true) {
          var d = value[length-1][0];
          var f = d / largest
          var shadeValue = lerp(0.1, 1, f); } 
          else {
          var d = value[length-1][0]
          var f = d / largest
          var shadeValue = lerp(0.1, 1, f); 
          console.log(value[1][1])}

          //map.currentValue = listofValues[j]

          for ( var i = 0, l = coordinates.length; i < l; i++) {
            flightPlanCoordinates.push( new google.maps.LatLng(coordinates[i][1], coordinates[i][0]))
          } 

          flightPath = new google.maps.Polygon({
            paths: flightPlanCoordinates,
            strokeColor: '#ffffff',
            strokeOpacity: 0,
            strokeWeight: 2,
            fillColor: '#ff0000',
            fillOpacity: shadeValue,
            blockID: key,
            blockValue: value[1][0],
            totalValue: value[1][1],
            blockHousehold: null,
            blockEducation: null,
            blockMarriage: null,
            blockLanguage: null,
            popDensity: null,
            blockACS: null,
            area: null,
            mapDescription: description,
            competitorNum: yelpLength
          }); 

          //Unpack megadict (3rd argument) to get housing, education, marriage, and language ACS values
          // 0 is income
          //1 is marital
          // 2 is language
          //3 is education
          if (length == 4) {
          flightPath.blockHousehold = value[2][0],
          flightPath.blockEducation = value[2][3],
          flightPath.blockMarriage = value[2][1],
          flightPath.blockLanguage = value[2][2] }

          if (density == true) { 
            flightPath.fillColor = '#0000CD';
            flightPath.popDensity= value[length-1][0];
            flightPath.area = value[length-1][1];
          }

          flightPath.setMap(map);
          flightPlanCoordinates = [];

  
          google.maps.event.addListener(flightPath, 'mouseover', showArrays);
          google.maps.event.addListener(flightPath, 'mouseout', function (event) {
                    this.setOptions({
                        strokeColor: '#ffffff',
                        strokeOpacity: 0.0
                    });
                });

          infoWindow = new google.maps.InfoWindow();
        }

      /** @this {google.maps.Polygon} */
      function showArrays(event) {

        this.setOptions({
                        strokeColor: '#000000',
                        strokeOpacity: 1.0
                    });

      


        $("#blockID").text(this.blockID)
        $("#totalPop").text(this.totalValue)
        $("#demoPop").text(this.blockValue)
        $("#heatDescription").text(this.mapDescription)

        
        
        if (density == true) { 
          $("#Density").text("Population per square kilometer: " + this.popDensity + " in km². In area" + this.area + "\n")
        }

        //Assign ACS text if the value is not null
        if (this.blockHousehold != null) { 
          $("#ACShousehold").text("Population with requested household income: " + this.blockHousehold + "")
        }else{
          $("#ACShousehold").text("")
        }

        if (this.blockEducation != null) { 
          $("#ACSEducation").text("Population with requested education level: " + this.blockEducation + "")
        }else{
          $("#ACSEducation").text("")
        }

        if (this.blockMarriage != null) { 
          $("#ACSMarriage").text("Population with requested marital status: " + this.blockMarriage + "")
        }else{
          $("#ACSMarriage").text("")
        }

        if (this.blockLanguage != null) { 
          $("#ACSLanguage").text("Population with requested native language: " + this.blockLanguage + "")
        }else{
          $("#ACSLanguage").text("")
        }


        if (yelpLength != 0){
          $("#competitorNum").text("Number of nearby competitors: " + this.competitorNum + "" + "\n" + "  "+ "\n")
        }

        // Replace the info window's content and position.
        //infoWindow.setContent(contentString);
        //infoWindow.setPosition(event.latLng);

        //infoWindow.open(map);
      }
      }
      google.maps.event.addDomListener(window, 'load', initialize);
      $('#myForm').toggle();

    // var bounds = map.getBounds();
    // var ne = bounds.getNorthEast(); // LatLng of the north-east corner
    // var sw = bounds.getSouthWest(); // LatLng of the south-west corder
    // var nw = new google.maps.LatLng(ne.lat(), sw.lng());
    // var se = new google.maps.LatLng(sw.lat(), ne.lng())

    // console.log("EDGES")
    // console.log(ne)
    // console.log(sw)
    </script>

    <script type="text/jquery">

    //Javascript for drop down checkbox menu
      $('.dropdown-menu').on('click', function(e) {
      if($(this).hasClass('dropdown-menu-form')) {
          e.stopPropagation();
      }
      });
    </script>
  </head>



    
    <div id="map_canvas" ></div>

    <!-- Welcome window, only shows up when coming from "fromMainPage" -->
    <div id="welcomeWindow" style="visibility: visible;">
      <button id="closebutton" class="close" onclick="dismissWelcome();">&times;</button>
      <h4 class="bartitle"> Welcome to Census Heat Map! </h4> 
      <p>To the right, enter the information about your target demographic. <p>

      Note that you MUST select a location, race, gender, and age.

    </div>

    


    <!--Floating info window on current heat map -->
    <div id="topbar" style="visibility: visible;">
      <button id="closebutton" class="close" onclick="hideTopBar();">&times;</button>
      <h4 class="bartitle"> What Am I Looking At? </h4> 
      <span id="heatDescription"> Hover over a block</span>

    </div>
    

    <div id="sidebars">
    
      <div id="uppersidebar">
        <div id="myForm" style="visibility: visible;">
        <h3 class="bartitle">Enter YOUR Info:</h3>


      

        <!-- Demographic survey form -->
        

        <form class="demographic-form" action="/getsurveyresults" method="post">
        Location (required): <input type="text" name="city">
        <br>
        <h4> For information about business competitors: </h4>
        Specific type of business (ex: Italian restaurant or yoga studio): <input type="text" name="business">
        
        <h4 > For information about the location of demographic groups: </h4>
        From 2010 Decennial Survey. Select at least 1 from each category:
          <div class="checkbox">
          <div class="row">
            <div class="span4">
            <div class="dropdown"> 
              <a class="dropdown-toggle btn" data-toggle="dropdown" href="#" >
                Race:
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-form" role="menu" onclick="$('.dropdown-menu').on('click', function(e) {if($(this).hasClass('dropdown-menu-form')) {e.stopPropagation();}});" >

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="race AfricanAmerican" value="True">
                     African American
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="race White" value="True">
                     Caucasian
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="race Latino" value="True">
                     Hispanic or Latino
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="race Asian" value="True">
                     Asian
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="race Hawaiian" value="True">
                     Hawaiian/Pacific Islander
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="race NativeAmerican" value="True">
                     Native American
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="race Multiracial" value="True">
                     Multiracial
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="race Other" value="True">
                     Some Other Race Alone
                    </label>
                </li>

              
            </div>
            </div>
            <br>
            <div class="span4">
              <div class="dropdown">
              <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                Gender:
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-form" role="menu">

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="gender Male" value="True">
                     Male
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="gender Female" value="True">
                     Female
                    </label>
                </li>

            </div>
            </div>
            <br>

            <div class="span4">
              <div class="dropdown">
              <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                Age:
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-form" role="menu">

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="age 0" value="True">
                     0-19 years old
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="age 20" value="True">
                     20-29 years old
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="age 30" value="True">
                     30-39 years old
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="age 40" value="True">
                     40-49 years old
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="age 50" value="True">
                     50-59 years old
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="age 60" value="True">
                     60-69 years old
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="age 70" value="True">
                     70-79 years old
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="age 80" value="True">
                     80+ years old
                    </label>
                </li>

            </div>
            </div>
          </div>
          </div>

          From 2010 American Community Survey (ACS). Selection is optional:
          <div class="span4">
            <div class="dropdown">
              <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                Household Income:
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-form" role="menu">

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="less-10" value="True">
                     Less than $10,000
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="10to15" value="True">
                     $10,000 to $14,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="15to20" value="True">
                     $15,000 to $19,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="20to25" value="True">
                     $20,000 to $24,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="25to30" value="True">
                     $25,000 to $29,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="30to35" value="True">
                     $30,000 to $34,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="35to40" value="True">
                     $35,000 to $39,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="40to45" value="True">
                     $40,000 to $44,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="45to50" value="True">
                     $45,000 to $49,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="50to60" value="True">
                     $50,000 to $59,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="60to75" value="True">
                     $60,000 to $74,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="75to100" value="True">
                     $75,000 to $99,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="100to125" value="True">
                     $100,000 to $124,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="125to150" value="True">
                     $125,000 to $149,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="150to200" value="True">
                     $150,000 to $199,999
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="200more" value="True">
                     $200,000 or more
                    </label>
                </li>
            
          </div>
          </div>

          <div class="span3">
            <div class="dropdown">
              <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                Education Level (age 25+):
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-form" role="menu">

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="noschool" value="True">
                     No schooling completed
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="12nodiplomaschool" value="True">
                     Up to 12th grade, no diploma
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="hsgraduateschool" value="True">
                     High school graduate, GED, or alternative
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="somecollegeschool" value="True">
                     Some college, no degree
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="associatesschool" value="True">
                     Associate's degree
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="bachelorschool" value="True">
                     Bachelor's degree
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="mastersschool" value="True">
                     Master's degree
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="professionalschool" value="True">
                     Professional school degree
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="doctorateschool" value="True">
                     Doctorate degree
                    </label>
                </li>
            
          </div>
          </div>


          <div class="span4">
            <div class="dropdown">
              <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                Marital Status:
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-form" role="menu">


                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="married" value="True">
                     Married
                    </label>
                </li>


                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="nevermarried" value="True">
                     Never Married
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="widowed" value="True">
                     Widowed
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="divorced" value="True">
                     Divorced
                    </label>
                </li>
            
          </div>
          </div>
          <div class="span3">
             <div class="dropdown">
              <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                Native Language:
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-form" role="menu">

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="spanish-notAtAll" value="True">
                     Native Spanish speaker, English spoken 'not at all'
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="spanish-notWell" value="True">
                     Native Spanish speaker, English spoken 'not well'
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="spanish-veryWell" value="True">
                     Native Spanish speaker, English spoken 'very well'
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="asian-veryWell" value="True">
                     Native Asian and Pacific Island languages, English spoken 'very well'
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="asian-notAtAll" value="True">
                     Native Asian and Pacific Island languages, English spoken 'not at all'
                    </label>
                </li>

                <li>
                  <label class="checkbox">
                    <input type="checkbox" name="asian-notWell" value="True">
                     Native Asian and Pacific Island languages, English spoken 'not well'
                    </label>
                </li>

                

          </div>
          </div>

          <!--

        <h4 id ="weirdTitle">Choose how to display your data:</h4>
          <div class="span3">



          <label class="checkbox">
                    <input type="radio" name="density" value="True">
                     Heat map based on demographic population density 
                    </label>
                    <label class="checkbox">
                    <input type="radio" name="density" value="False">
                     Heat map based on total demographic population
                    </label>
          </div >

          -->

          <div style="text-align: center; width:270px;">
            <input type="submit" id="submitButton" value="Submit" onclick="return addToBasket();">
            <br>
          </div>

        </form>
      </div>
        <div id="loading" style="display:none;"><img style="width:270px; vertical-align:middle;" src="{{ url_for('static', filename='images/loading_icon.gif')}}" alt="" /></div>

      </div>
      <div id="lowersidebar">
        <h3 class="bartitle">Census Block</h3>


        <!-- <p>Block ID: <span id="blockID"> select a block </span></p> -->
        <p>Total Population: <span id="totalPop"> select a block </span></p>
        <p>Demographic population: <span id="demoPop"> select a block </span> </p>
         <p><span id="blockACS" style="margin-bottom: 20px;"></span><p>
        <span id="Density" style="margin-bottom: 20px;"></span>
        <span id="competitorNum" style="margin-bottom: 20px;"> </span>
        
        <p><span id="ACShousehold"> </span></p>
        <p><span id="ACSEducation"> </span></p>
        <p><span id="ACSMarriage"> </span></p>
        <p><span id="ACSLanguage"> </span></p>
        
        
      </div>
    </div>


    <script>
    var fromMain = Boolean({{fromMain}});
      
    if (fromMain==false){
         $('#welcomeWindow').toggle();
      }
      </script>
     




</html>